// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-app {
  padding-top: 1%;
  padding-bottom: 1%;
}

.myurl {
  padding-top: 1%;
  padding-bottom: 1%;
  font-weight: bold;
}