// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  margin-top: 4%
}

.col-md-8.col-md-offset-2 {
  text-align: center;
}

.media-body-public {
  text-align: center;
}

.col-md-4.col-md-offset-1 {
  text-align: center;
}

.row-bottom {
  margin-top:2%;
  margin-bottom: 10%;
}